* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma,Arial;
}
.parent {
    width: 600px;
    margin: 20px auto;
    background-color: #EEE;
    padding: 20px; 
}
.parent input{
    border: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.parent input:focus {
    outline: none;
}
.parent .buttons {
    display: flex;
    justify-content: space-between;
}
.parent .buttons span {
    background-color: #009688;
    text-align: center;
    color: #FFF;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.parent .results {
    background-color: #FFF;
    background-color: #FFF;
    padding: 20px;
    margin-top: 15px;
    border: 2px dashed #EEE;
    text-align: center;
}
.parent .results span span {
    font-weight: bold;
    color: #009688;
}
.parent .results span {
    color: black;
}
.parent .results .keys {
    display: block;
}